.MemoContainer {
  flex: 1;
  padding: 20px;
}

.memoTitle {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
  border: none;
  margin-bottom: 10px;
  outline: none;
}

.memoCont {
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: none;
}
