.App {
  display: flex;
  height: 100vh;
}

.SideBar {
  width: 200px;
}

.MemoContainer {
  flex: 1;
}

.memoTitle {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
}

.memoCont {
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.memoItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 8px;
}

.memoItem.selected {
  font-weight: bold;
  background-color: beige;
}
